<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>채팅에서 음성 메시지를 녹음하는 데 사용합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>채팅에 사진·동영상을 첨부하는 데 사용합니다.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaomap</string>
		<string>comgooglemaps</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>3.35.27.30</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
